
{% extends "base.html" %}
{% block title %} {{Category.name}} {% endblock %}

{% block content %}

   
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                
            {% include 'partials/_categories.html' %}
                
            </div>
            <div class="col-9">
                
                <h1 clas="title">  
                            
                     <h3>{% if blog %}
                            {% for item in blog%}
                                {{item.name|title}} 
                            {% endfor %}
                        {%endif%}
                     </h3>
                        <h6 class="title">
                            {% if blog %}
                            {% for item in blog%}
                             <div>Adres:</div> {{item.adres|title}}
                             <div>Telefon:</div>{{item.telefon|title}} 
                            {% endfor %}
                        {%endif%}
                        </h6>
                </h1>
                <hr>          
                 {% if blogs|length > 0 %}
                   {% for blog in blogs %}
                     {% if blog.is_active %}
                          {% include 'blog/partials/_blog.html' %}
                     {% endif %}
                   {% endfor %}
                {% else %}
                    <div class ="alert alert-warning">Kayıtlı cihaz bulunmamaktadır.</div>
                {% endif %} 
            </div>
        </div>
    </div>
{% endblock %}


